### Data Extraction

In [3]:
# Import required libraries
import pandas as pd
import os

In [4]:
print(os.getcwd())

/Users/dharunsomalingam/Documents/Semester_5/CITS3401/Project

In [5]:
# Load the Excel file and read the second sheet (index 1) named "BITRE_Fatal_Crash"
# Skip the first 3 rows, assuming they contain metadata or irrelevant information
data_fatal = pd.read_excel("bitre_fatal_crashes_dec2024.xlsx", sheet_name="BITRE_Fatal_Crash", skiprows=3)

# Set the first row as the header by assigning it as column names
data_fatal.columns = data_fatal.iloc[0]  # Take the first row as column names

# Remove the first row from the dataset since it is now used as headers
data_fatal = data_fatal[1:]

# Display the first few rows of the cleaned dataset
data_fatal.head()

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus \nInvolvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Speed Limit,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day
1,20241115,NSW,12,2024,Friday,04:00:00,Single,1,No,No,No,100,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night
2,20241125,NSW,12,2024,Friday,06:15:00,Single,1,No,No,No,80,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,Weekday,Day
3,20246013,Tas,12,2024,Friday,09:43:00,Multiple,1,No,No,No,50,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,Weekday,Day
4,20241002,NSW,12,2024,Friday,10:35:00,Multiple,1,No,No,No,100,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,Weekday,Day
5,20242261,Vic,12,2024,Friday,11:30:00,Multiple,1,-9,-9,-9,-9,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Day

In [6]:
# Read the second sheet ("BITRE_Fatality") from the Excel file, skipping the first 3 rows
# This removes any metadata or unnecessary information at the top
data_fatalities = pd.read_excel("bitre_fatalities_dec2024.xlsx", sheet_name="BITRE_Fatality", skiprows=3)

# Assign the first row as column names to properly structure the dataset
data_fatalities.columns = data_fatalities.iloc[0]  

# Remove the first row from the dataset as it has been set as the header
data_fatalities = data_fatalities[1:]

# Display the first few rows of the cleaned dataset for verification
data_fatalities.head()

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
1,20241115,NSW,12,2024,Friday,04:00:00,Single,No,No,No,...,74,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,65_to_74,Weekday,Night
2,20241125,NSW,12,2024,Friday,06:15:00,Single,No,No,No,...,19,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,17_to_25,Weekday,Day
3,20246013,Tas,12,2024,Friday,09:43:00,Multiple,No,No,No,...,33,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,26_to_39,Weekday,Day
4,20241002,NSW,12,2024,Friday,10:35:00,Multiple,No,No,No,...,32,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,26_to_39,Weekday,Day
5,20242261,Vic,12,2024,Friday,11:30:00,Multiple,-9,-9,-9,...,62,Unknown,NaN,NaN,Undetermined,No,No,40_to_64,Weekday,Day

In [7]:
data_fatal.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus \nInvolvement',
       'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement',
       'Speed Limit', 'National Remoteness Areas', 'SA4 Name 2021',
       'National LGA Name 2021', 'National Road Type', 'Christmas Period',
       'Easter Period', 'Day of week', 'Time of Day'],
      dtype='object', name=0)

In [8]:
data_fatalities.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit', 'Road User', 'Gender',
       'Age', 'National Remoteness Areas', 'SA4 Name 2021',
       'National LGA Name 2021', 'National Road Type', 'Christmas Period',
       'Easter Period', 'Age Group', 'Day of week', 'Time of day'],
      dtype='object', name=0)

In [9]:
# Get the number of rows in the fatal crashes dataset
fatal_crash_rows = data_fatal.shape[0]

# Get the number of rows in the fatalities dataset
fatality_rows = data_fatalities.shape[0]

# Print the results
print(f"Number of fatal crashes: {fatal_crash_rows}")
print(f"Number of fatalities: {fatality_rows}")

Number of fatal crashes: 51284
Number of fatalities: 56874

In [10]:
# Count the number of duplicate rows in the 'data_fatal' DataFrame
fatal_crash_duplicate = data_fatal.duplicated().sum()  # This counts all duplicate rows in data_fatal

# Count the number of duplicate rows in the 'data_fatalities' DataFrame
fatality_duplicate = data_fatalities.duplicated().sum()  # This counts all duplicate rows in data_fatalities

# Print the number of duplicate rows for both DataFrames
print(fatal_crash_duplicate)  # Prints the count of duplicate rows in data_fatal
print(fatality_duplicate)     # Prints the count of duplicate rows in data_fatalities

0
166

In [11]:
# Remove duplicate rows from the 'data_fatal' DataFrame to ensure unique records
data_fatal = data_fatal.drop_duplicates()

# Remove duplicate rows from the 'data_fatalities' DataFrame to avoid redundancy
data_fatalities = data_fatalities.drop_duplicates()

In [12]:
data_fatal.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus \nInvolvement',
       'Heavy Rigid Truck Involvement', 'Articulated Truck Involvement',
       'Speed Limit', 'National Remoteness Areas', 'SA4 Name 2021',
       'National LGA Name 2021', 'National Road Type', 'Christmas Period',
       'Easter Period', 'Day of week', 'Time of Day'],
      dtype='object', name=0)

In [13]:
# Merge the two DataFrames on 'Crash ID'
merged_data = data_fatal.merge(data_fatalities, on="Crash ID", how="inner")

# Identify and remove duplicate columns
merged_data = merged_data.loc[:, ~merged_data.T.duplicated()]
merged_data.columns = merged_data.columns.str.strip()

# Display the cleaned merged DataFrame
print(merged_data.head())
# Save DataFrame to CSV file

0  Crash ID State_x Month_x Year_x Dayweek_x    Time_x Crash Type_x  \
0  20241115     NSW      12   2024    Friday  04:00:00       Single
1  20241125     NSW      12   2024    Friday  06:15:00       Single
2  20246013     Tas      12   2024    Friday  09:43:00     Multiple
3  20241002     NSW      12   2024    Friday  10:35:00     Multiple
4  20242261     Vic      12   2024    Friday  11:30:00     Multiple

0 Number Fatalities Bus \nInvolvement Heavy Rigid Truck Involvement_x  ...  \
0                 1                No                              No  ...
1                 1                No                              No  ...
2                 1                No                              No  ...
3                 1                No                              No  ...
4                 1                -9                              -9  ...

0 Christmas Period_x Easter Period_x Day of week_x Time of Day Speed Limit_y  \
0                Yes              No       Weekday       Night           100
1                 No              No       Weekday         Day            80
2                Yes              No       Weekday         Day            50
3                 No              No       Weekday         Day           100
4                 No              No       Weekday         Day            -9

0  Road User  Gender Age       National Road Type_y Age Group
0     Driver    Male  74              Arterial Road  65_to_74
1     Driver  Female  19                 Local Road  17_to_25
2     Driver  Female  33                 Local Road  26_to_39
3     Driver  Female  32  National or State Highway  26_to_39
4  Passenger    Male  62               Undetermined  40_to_64

[5 rows x 26 columns]

In [14]:
merged_data = merged_data.loc[:, ~merged_data.columns.duplicated()]
# Iterate through each column name and modify it if it ends with '_x' or '_y'
for i in range(len(merged_data.columns)):
    if '_x' in merged_data.columns[i]:
        merged_data.columns.values[i] = merged_data.columns[i].replace('_x', '')
    elif '_y' in merged_data.columns[i]:
        merged_data.columns.values[i] = merged_data.columns[i].replace('_y', '')
    elif '\n' in merged_data.columns[i]:
        merged_data.columns.values[i] = merged_data.columns[i].replace('\n', '')

# Display updated column names
print(merged_data.columns)

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Speed Limit', 'Road User', 'Gender',
       'Age', 'National Road Type', 'Age Group'],
      dtype='object', name=0)

In [15]:
merged_data = merged_data.loc[:, ~merged_data.columns.duplicated()]

In [16]:
merged_data["State"]=merged_data["State"].str.upper()

In [17]:
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [18]:
merged_data["State"]=merged_data["State"].str.upper()

# Replace all occurrences of -9 with "Unknown" in the entire DataFrame
merged_data.replace(-9, "Unknown", inplace=True)

# Replace all NaN (empty) values in the entire DataFrame with "Unknown"
merged_data.fillna("Unknown", inplace=True)



merged_data.head()

/var/folders/2g/4mnq9vzj0c15w0sr74k2kcd00000gn/T/ipykernel_44687/427589794.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_data.replace(-9, "Unknown", inplace=True)

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,Heavy Rigid Truck Involvement,...,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day,Road User,Gender,Age,Age Group
0,20241115,NSW,12,2024,Friday,04:00:00,Single,1,No,No,...,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night,Driver,Male,74,65_to_74
1,20241125,NSW,12,2024,Friday,06:15:00,Single,1,No,No,...,Hawkesbury,Local Road,No,No,Weekday,Day,Driver,Female,19,17_to_25
2,20246013,TAS,12,2024,Friday,09:43:00,Multiple,1,No,No,...,Northern Midlands,Local Road,Yes,No,Weekday,Day,Driver,Female,33,26_to_39
3,20241002,NSW,12,2024,Friday,10:35:00,Multiple,1,No,No,...,Armidale Regional,National or State Highway,No,No,Weekday,Day,Driver,Female,32,26_to_39
4,20242261,VIC,12,2024,Friday,11:30:00,Multiple,1,Unknown,Unknown,...,Unknown,Undetermined,No,No,Weekday,Day,Passenger,Male,62,40_to_64

In [19]:
merged_data.columns = merged_data.columns.str.strip()
# Custom function to mask '-9' 
def mask_invalid_values(value):
    if isinstance(value, str):
        if ('-9' or "Unknown") in value :  # Check if value contains '-9' or "Unknown"
            return 'Other'
    return value

# Apply the masking function to a specific column (e.g., 'Crash Type')
merged_data['Road User'] = merged_data['Road User'].apply(mask_invalid_values)

# Verify the change
print(merged_data[['Road User']].head())

0  Road User
0     Driver
1     Driver
2     Driver
3     Driver
4  Passenger

In [20]:
merged_data=merged_data[merged_data["Speed Limit"]!="<40"]

In [21]:
# Count the number of rows where "Speed Limit" is "Unknown"
num_unknown_speed = (merged_data["Speed Limit"] == "Unknown").sum()
print(f"Number of rows with 'Unknown' Speed Limit: {num_unknown_speed}")

# Count the number of rows where "Age" is "Unknown"
num_unknown_age = (merged_data["Age"] == "Unknown").sum()
print(f"Number of rows with 'Unknown' Age: {num_unknown_age}")

print(merged_data["Speed Limit"] )
# Filter out rows where "Speed Limit" or "Age" is "Unknown"
merged_data = merged_data[(merged_data["Speed Limit"] != "Unknown") & 
                          (merged_data["Age"] != "Unknown")]

#print(merged_data["Speed Limit"] )
# Print the updated number of rows after removal
print(f"Total rows after removal: {merged_data.shape[0]}")

Number of rows with 'Unknown' Speed Limit: 1478
Number of rows with 'Unknown' Age: 105
0            100
1             80
2             50
3            100
4        Unknown
          ...
56703        100
56704        100
56705        100
56706        100
56707    Unknown
Name: Speed Limit, Length: 56700, dtype: object
Total rows after removal: 55136

In [22]:
merged_data.to_csv("merged_data.csv",index=False)

## Dimensional Tables and Fact Tables


### Location Dimesion

In [25]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [26]:
# Create a new DataFrame 'dim_location' to serve as the Location Dimension table
# It includes selected location-related columns from the 'merged_data' DataFrame
dim_location = pd.DataFrame({
    "State": merged_data["State"],  # Extract the State information
    "National Remoteness Areas": merged_data["National Remoteness Areas"],  # Include remoteness classification
    "SA4 Name 2021": merged_data["SA4 Name 2021"],  # Include SA4 region name based on 2021 standards
    "National LGA Name 2021": merged_data["National LGA Name 2021"]  # Include the Local Government Area name
})

In [27]:
dim_location=dim_location.drop_duplicates()

In [28]:
# Add a new column 'Location ID' to the 'dim_location' DataFrame
# This assigns a unique identifier to each row, starting from 1 up to the number of rows in the DataFrame
dim_location["Location ID"] = range(1, len(dim_location) + 1)

# Display the updated 'dim_location' DataFrame with the new 'Location ID' column
dim_location

,State,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,Location ID
0,NSW,Inner Regional Australia,Riverina,Wagga Wagga,1
1,NSW,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,2
2,TAS,Inner Regional Australia,Launceston and North East,Northern Midlands,3
3,NSW,Outer Regional Australia,New England and North West,Armidale Regional,4
5,QLD,Inner Regional Australia,Toowoomba,Lockyer Valley,5
...,...,...,...,...,...
12038,WA,Outer Regional Australia,Bunbury,Boyup Brook,799
12110,WA,Major Cities of Australia,Perth - Inner,Cottesloe,800
12602,WA,Remote Australia,Western Australia - Wheat Belt,Wickepin,801
12925,WA,Very Remote Australia,Western Australia - Outback (South),Leonora,802
13136,SA,Unknown,Unknown,Unknown,803

In [29]:
# Reorder the columns in the 'dim_location' DataFrame to match the desired structure:
# 'Location ID' first, followed by 'State', 'National Remoteness Areas', 'SA4 Name 2021', and 'National LGA Name 2021'
dim_location = dim_location[["Location ID", "State", "National Remoteness Areas", "SA4 Name 2021", "National LGA Name 2021"]]

In [30]:
dim_location.to_csv("Dim_Location.csv",index=False)

In [31]:
dim_location.head()

,Location ID,State,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021
0,1,NSW,Inner Regional Australia,Riverina,Wagga Wagga
1,2,NSW,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury
2,3,TAS,Inner Regional Australia,Launceston and North East,Northern Midlands
3,4,NSW,Outer Regional Australia,New England and North West,Armidale Regional
5,5,QLD,Inner Regional Australia,Toowoomba,Lockyer Valley

### Dim_Road

In [33]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [186]:
# Create a new DataFrame named 'dim_road' containing only the 'National Road Type' column from the 'merged_data' DataFrame.
dim_road = pd.DataFrame({"National Road Type": merged_data["National Road Type"]})

In [188]:
# Remove duplicate rows from the 'dim_road' DataFrame to ensure uniqueness of road types.
dim_road = dim_road.drop_duplicates()

# Add a new column 'Road ID' assigning a unique identifier to each road type starting from 1.
dim_road["Road ID"] = range(1, len(dim_road) + 1)

# Display the updated 'dim_road' DataFrame.
dim_road

            National Road Type  Road ID
0                Arterial Road        1
1                   Local Road        2
3    National or State Highway        3
6            Sub-arterial Road        4
7                 Undetermined        5
17              Collector Road        6
153    Pedestrian Thoroughfare        7
282                Access road        8
969                     Busway        9

In [191]:
# Reorder the columns in the 'dim_road' DataFrame to have 'Road ID' first, followed by 'National Road Type'.
dim_road = dim_road[["Road ID", "National Road Type"]]

# Display the first five rows of the reordered 'dim_road' DataFrame.
dim_road.head()

   Road ID         National Road Type
0        1              Arterial Road
1        2                 Local Road
3        3  National or State Highway
6        4          Sub-arterial Road
7        5               Undetermined

In [37]:
dim_road.to_csv("Dim_RoadTypes.csv",index=False)

### Date Dimension

In [39]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [40]:
# Create the 'dim_date' DataFrame by extracting relevant columns: 'Month', 'Year', and 'Dayweek' from the merged dataset.
dim_date = pd.DataFrame({
    "Month": merged_data["Month"],
    "Year": merged_data["Year"],
    "Dayweek": merged_data["Dayweek"]
})

# Display the first five rows of the 'dim_date' DataFrame to preview the structure and values.
dim_date.head()

   Month  Year Dayweek
0     12  2024  Friday
1     12  2024  Friday
2     12  2024  Friday
3     12  2024  Friday
5     12  2024  Friday

In [41]:
dim_date=dim_date.drop_duplicates()

In [193]:
# Add a new column 'Date ID' to the 'dim_date' DataFrame by assigning a unique ID to each row.
dim_date["Date ID"] = range(1, len(dim_date) + 1)

# Display the first five rows of the updated 'dim_date' DataFrame to verify the addition of the 'Date ID'.
dim_date.head()

    Date ID   Dayweek  Month  Year
0         1    Friday     12  2024
14        2    Monday     12  2024
31        3  Saturday     12  2024
56        4    Sunday     12  2024
83        5  Thursday     12  2024

In [43]:
dim_date=dim_date[["Date ID","Dayweek","Month","Year"]]

In [44]:
dim_date.to_csv("Dim_Date.csv",index=False)

### Period dimensions

In [46]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [47]:
# Create the 'dim_period' dimension table with selected columns: 'Day of week' and 'Time of Day' from the merged_data DataFrame
dim_period = pd.DataFrame({
    "Day of week": merged_data["Day of week"],
    "Time of Day": merged_data["Time of Day"]
})

# Display the first five rows of the 'dim_period' DataFrame to verify its structure
dim_period.head()

  Day of week Time of Day
0     Weekday       Night
1     Weekday         Day
2     Weekday         Day
3     Weekday         Day
5     Weekday         Day

In [48]:
dim_period=dim_period.drop_duplicates()

In [49]:
# Add a new column 'Period ID' to the 'dim_period' DataFrame by assigning a unique ID to each row.
dim_period["Period ID"] = range(1, len(dim_period) + 1)

# Display the first five rows of the updated 'dim_period' DataFrame to verify the addition of the 'Period ID'.
dim_period.head()

     Day of week Time of Day  Period ID
0        Weekday       Night          1
1        Weekday         Day          2
8        Weekend       Night          3
36       Weekend         Day          4
3276     Weekend     Unknown          5

In [50]:
# Reorder the columns in the 'dim_period' DataFrame to have 'Period ID' first, followed by 'Time of Day' and 'Day of week'.
dim_period = dim_period[["Period ID", "Time of Day", "Day of week"]]

In [51]:
dim_period.to_csv("Dim_Period.csv",index=False)

### Vacation Dimensions

In [53]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [54]:
# Create the 'dim_Vacation' DataFrame by extracting the 'Christmas Period' and 'Easter Period' columns from the merged_data DataFrame
dim_Vacation = pd.DataFrame({
    "Christmas Period": merged_data["Christmas Period"],
    "Easter Period": merged_data["Easter Period"]
})

In [195]:
# Remove any duplicate rows in the 'dim_Vacation' DataFrame to ensure only unique entries remain
dim_Vacation = dim_Vacation.drop_duplicates()

# Reorder the columns in the 'dim_Vacation' DataFrame to have 'Vacation ID' first, followed by 'Christmas Period' and 'Easter Period'
dim_Vacation = dim_Vacation[["Vacation ID", 'Christmas Period', 'Easter Period']]

In [197]:
dim_Vacation=dim_Vacation[["Vacation ID",'Christmas Period', 'Easter Period']]

In [57]:
dim_Vacation.to_csv("Dim_Vacation.csv",index=False)

### Crash Dimensions

In [59]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [60]:
# Creating a new DataFrame named 'dim_crash' to represent the Crash dimension table.
# This table includes vehicle involvement details extracted from the 'merged_data' DataFrame.

dim_crash = pd.DataFrame({
    "Bus Involvement": merged_data["Bus Involvement"],  # Indicates whether a bus was involved in the crash
    "Heavy Rigid Truck Involvement": merged_data["Heavy Rigid Truck Involvement"],  # Indicates involvement of heavy rigid trucks
    "Articulated Truck Involvement": merged_data["Articulated Truck Involvement"]  # Indicates involvement of articulated trucks
})

# Displaying the first few records of the dim_crash DataFrame to verify the contents
dim_crash.head()

  Bus Involvement Heavy Rigid Truck Involvement Articulated Truck Involvement
0              No                            No                            No
1              No                            No                            No
2              No                            No                            No
3              No                            No                            No
5              No                            No                            No

In [61]:
# Removing duplicate rows from the 'dim_crash' DataFrame to ensure each combination of involvement types is unique
dim_crash = dim_crash.drop_duplicates()

In [62]:
# Creating a new column 'Involvement ID' with unique identifiers for each record
# This serves as the primary key for the crash dimension table
dim_crash["Involvement ID"] = range(1, len(dim_crash) + 1)

In [63]:
# Reordering the columns so that 'Involvement ID' comes first, followed by the vehicle involvement details
dim_crash = dim_crash[[
    "Involvement ID", 
    "Bus Involvement", 
    "Heavy Rigid Truck Involvement", 
    "Articulated Truck Involvement"
]]
dim_crash.head()

,Involvement ID,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement
0,1,No,No,No
13,2,No,No,Yes
31,3,Unknown,Unknown,Unknown
32,4,Yes,No,Yes
41,5,No,Yes,No

In [64]:
dim_crash.to_csv("Dim_Crash.csv",index=False)

### Crash Type

In [66]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [67]:
# Create the 'dim_crashtype' DataFrame by extracting the 'Crash Type' column from the merged_data DataFrame
dim_crashtype = pd.DataFrame({"Crash Type": merged_data["Crash Type"]})

In [68]:
# Remove any duplicate rows in the 'dim_crashtype' DataFrame to ensure only unique entries remain
dim_crashtype = dim_crashtype.drop_duplicates()

# Add a new column 'Type ID' with a range of numbers starting from 1 up to the length of the 'dim_crashtype' DataFrame
dim_crashtype["Type ID"] = range(1, len(dim_crashtype) + 1)

# Display the updated 'dim_crashtype' DataFrame with the 'Type ID' column added
dim_crashtype

  Crash Type  Type ID
0     Single        1
2   Multiple        2

In [69]:
# Reorder the columns in the 'dim_crashtype' DataFrame to have 'Type ID' first, followed by 'Crash Type'
dim_crashtype = dim_crashtype[["Type ID", "Crash Type"]]

In [70]:
dim_crashtype.to_csv("Dim_CrashType.csv",index=False)

### Road User

In [72]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [73]:
dim_# Create the 'dim_roaduser' DataFrame by extracting columns related to 'Road User', 'Gender', 'Age', and 'Age Group' from the merged_data DataFrame
dim_roaduser = pd.DataFrame({"Road User": merged_data["Road User"],
                             "Gender": merged_data["Gender"],
                             "Age": merged_data["Age"],
                             "Age Group": merged_data["Age Group"]})

# Display the first few rows of the 'dim_roaduser' DataFrame
dim_roaduser.head()

   Road User  Gender Age Age Group
0     Driver    Male  74  65_to_74
1     Driver  Female  19  17_to_25
2     Driver  Female  33  26_to_39
3     Driver  Female  32  26_to_39
5  Passenger  Female  61  40_to_64

In [74]:
dim_roaduser=dim_roaduser.drop_duplicates()

In [75]:
# Add a new column 'User ID' to 'dim_roaduser', assigning unique IDs starting from 1
dim_roaduser["User ID"] = range(1, len(dim_roaduser) + 1)

# Display the first few rows of the updated 'dim_roaduser' DataFrame
dim_roaduser.head()

   Road User  Gender Age Age Group  User ID
0     Driver    Male  74  65_to_74        1
1     Driver  Female  19  17_to_25        2
2     Driver  Female  33  26_to_39        3
3     Driver  Female  32  26_to_39        4
5  Passenger  Female  61  40_to_64        5

In [76]:
dim_roaduser=dim_roaduser[["User ID","Road User","Gender","Age","Age Group"]]

In [77]:
dim_roaduser.to_csv("Dim_User.csv",index=False)

### Speed Dimension

In [79]:
merged_data.head()
merged_data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age',
       'Age Group'],
      dtype='object', name=0)

In [80]:
# Create the 'dim_speed' DataFrame by extracting the 'Speed Limit' column from the merged_data DataFrame
dim_speed = pd.DataFrame({"Speed Limit": merged_data["Speed Limit"]})

In [81]:
# Remove duplicate entries from the 'dim_speed' DataFrame to ensure unique values for 'Speed Limit'
dim_speed = dim_speed.drop_duplicates()

In [82]:
# Add a new column 'Speed ID' to 'dim_speed', assigning unique IDs starting from 1
dim_speed["Speed ID"] = range(1, len(dim_speed) + 1)

In [83]:
dim_speed=dim_speed[["Speed ID","Speed Limit"]]
dim_speed.to_csv("Dim_Speed.csv",index=False)

### Fact Table

In [85]:
dim_location.columns

Index(['Location ID', 'State', 'National Remoteness Areas', 'SA4 Name 2021',
       'National LGA Name 2021'],
      dtype='object')

In [86]:
# Creating a consolidated dataset 'Merged_Data' by merging the base 'merged_data' DataFrame 
# with all the dimensional tables using their respective primary keys and unique attributes.

Merged_Data = (
    merged_data
    # Merging with dim_location using location-related attributes to get 'Location ID'
    .merge(dim_location[["Location ID", "State", "National Remoteness Areas", "SA4 Name 2021", "National LGA Name 2021"]], 
           on=["State", "National Remoteness Areas", "SA4 Name 2021", "National LGA Name 2021"], 
           how="left")
    
    # Merging with dim_road on 'National Road Type' to bring in 'Road ID'
    .merge(dim_road[["Road ID", "National Road Type"]], 
           on="National Road Type", 
           how="left")
    
    # Merging with dim_date using temporal attributes to attach 'Date ID'
    .merge(dim_date[["Date ID", "Month", "Year", "Dayweek"]], 
           on=["Month", "Year", "Dayweek"], 
           how="left")
    
    # Merging with dim_roaduser based on user characteristics to add 'User ID'
    .merge(dim_roaduser[["User ID", "Road User", "Gender", "Age"]], 
           on=["Road User", "Gender", "Age"], 
           how="left")
    
    # Merging with dim_period using day and time data to include 'Period ID'
    .merge(dim_period[["Period ID", "Day of week", "Time of Day"]], 
           on=["Day of week", "Time of Day"], 
           how="left")
    
    # Merging with dim_Vacation using holiday periods to attach 'Vacation ID'
    .merge(dim_Vacation[["Vacation ID", "Easter Period", "Christmas Period"]], 
           on=["Easter Period", "Christmas Period"], 
           how="left")
    
    # Merging with dim_crashtype using 'Crash Type' to bring in 'Type ID'
    .merge(dim_crashtype[["Type ID", "Crash Type"]], 
           on="Crash Type", 
           how="left")
    
    # Merging with dim_speed based on 'Speed Limit' to add 'Speed ID'
    .merge(dim_speed[["Speed ID", "Speed Limit"]], 
           on="Speed Limit", 
           how="left")
    
    # Final merge with dim_crash using all involvement attributes to include 'Involvement ID'
    # 'inner' join is used here to ensure only matched crash involvement records are retained
    .merge(dim_crash[["Involvement ID", "Bus Involvement", "Heavy Rigid Truck Involvement", "Articulated Truck Involvement"]], 
           on=["Bus Involvement", "Heavy Rigid Truck Involvement", "Articulated Truck Involvement"], 
           how="inner")
)

In [87]:
# Exporting the final merged dataset to a CSV file named 'Merged_Data_All.csv'
# Setting index=False to avoid writing the DataFrame index as a separate column in the CSV file
Merged_Data.to_csv("Merged_Data_All.csv", index=False)

In [88]:
Merged_Data.columns

Index(['Crash ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash Type',
       'Number Fatalities', 'Bus Involvement', 'Heavy Rigid Truck Involvement',
       'Articulated Truck Involvement', 'Speed Limit',
       'National Remoteness Areas', 'SA4 Name 2021', 'National LGA Name 2021',
       'National Road Type', 'Christmas Period', 'Easter Period',
       'Day of week', 'Time of Day', 'Road User', 'Gender', 'Age', 'Age Group',
       'Location ID', 'Road ID', 'Date ID', 'User ID', 'Period ID',
       'Vacation ID', 'Type ID', 'Speed ID', 'Involvement ID'],
      dtype='object')

### FACT TABLE

In [90]:
# Creating the Fact Table for the star schema model

Fact_Table = pd.DataFrame({
    "Fact ID": range(1, 1 + len(Merged_Data)), # Generating a unique Fact ID for each record (acts as the primary key of the fact table) 
    "Crash ID": Merged_Data["Crash ID"], # Including Crash ID from the merged dataset (could act as a business key
    "Time": Merged_Data["Time"],  # Time of the crash (not from the date dimension but kept for detailed granularity)
    "Number Fatalities": Merged_Data["Number Fatalities"], # The measure in the fact table: number of fatalities in each crash
    # Foreign keys linking to the respective dimension tables:
    "Location ID": Merged_Data["Location ID"],  # References the dim_location table
    "Road ID": Merged_Data["Road ID"],  # References the dim_road table
    "Date ID": Merged_Data["Date ID"],  # References the dim_date table
    "User ID": Merged_Data["User ID"],  # References the dim_roaduser table
    "Period ID": Merged_Data["Period ID"],  # References the dim_period table
    "Vacation ID": Merged_Data["Vacation ID"],  # References the dim_Vacation table
    "Type ID": Merged_Data["Type ID"],  # References the dim_crashtype table
    "Speed ID": Merged_Data["Speed ID"],  # References the dim_speed table
    "Involvement ID": Merged_Data["Involvement ID"]  # References the dim_crash table
})

In [91]:
Fact_Table.to_csv("Fact_Table.csv",index=False)

In [92]:
Fact_Table.head()

,Fact ID,Crash ID,Time,Number Fatalities,Location ID,Road ID,Date ID,User ID,Period ID,Vacation ID,Type ID,Speed ID,Involvement ID
0,1,20241115,04:00:00,1,1,1,1,1,1,1,1,1,1
1,2,20241125,06:15:00,1,2,2,1,2,2,2,1,2,1
2,3,20246013,09:43:00,1,3,2,1,3,2,1,2,3,1
3,4,20241002,10:35:00,1,4,3,1,4,2,2,2,1,1
4,5,20243185,13:00:00,1,5,3,1,5,2,2,2,1,1